*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    text-align: center;
}

h1 {
    margin: 2rem;
}

.main-container {
    width: 40vw;
    margin: auto;
}

.form {
    display: flex;
    gap: 1rem;
}

input {
    width: 100%;
    padding: 0.5rem 0.7rem;
}

#search-btn {
    padding: 0.5rem 0.8rem;
}